* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

.top-bar {
  background-color: #0373fc;
  color: white;
}
.top-bar .menu-top {
  list-style-type: none;
  text-align: right;
}
.top-bar .menu-top li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 30px;
}

.container-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.container-items .img-box {
  width: 10%;
}
.container-items .img-box img {
  width: 60px;
  height: 60px;
}
.container-items .menu-nav {
  list-style-type: none;
  width: 80%;
  text-align: center;
}
.container-items .menu-nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px;
}
.container-items .menu-nav li.active {
  color: #0373fc;
  border-bottom: 2px solid #0373fc;
}
.container-items .search {
  text-align: right;
  border-bottom: 2px solid #0373fc;
  width: 10%;
  font-weight: bold;
}

.banner {
  height: 250px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  position: relative;
}
main .current-series {
  background-color: #0373fc;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 200px;
}
main .comics-list {
  background-color: #303233;
}
main .comics-container {
  display: flex;
  flex-wrap: wrap;
}
main .comics-container .comic {
  max-width: calc 16.6666666667%;
  padding: 30px 20px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}